build*/
sdkconfig
sdkconfig.old
reference/
managed_components/
__pycache__/
tests/*.exe
tests/*.obj
dist/
sdkconfig.hardware
sdkconfig.hardware.old
sdkconfig.hardware-unlocked
sdkconfig.hardware-unlocked.old
sdkconfig.mock-build
sdkconfig.mock-build.old
*.log
tests/capture-test.pcapng
components/acquisition/include/acquisition.hpp-*
